#view-note, #image-404-text, #image-404-hint{
    font-family: 'ElectronicArtsDisplay Bold'!important;
    color:white;
}

#view-note{
    font-size:20px;
    text-decoration: none;
}
#image-404-text{
    margin-top:200px;
}


#image-404-hint{
    margin-top:20px;

}