.panel-nav-link{
    font-family: 'ElectronicArtsDisplay Bold'!important;
    letter-spacing: 1px!important;
    color: white!important;
    outline: none;
    box-shadow: none;
    background: transparent!important;
}

.panel-sidebar-border{
    border-right: 2px solid #e5e5e5;
    height:455px;
}
@media only screen and (max-width: 575px) {
    .panel-sidebar-border{
        height:100%;
    }

}