#options{
    display: inline-flex;
    font-family: 'ElectronicArtsDisplay Bold'!important;
    letter-spacing: 1px!important;
    color: white!important;
    margin-top:20px;
    margin-right:550px;
}

.crypto-icon{
    color: darkgoldenrod;
}

.icon{
    font-size:2.33333em;
}

.clickable-option{
    cursor: pointer;
}

.crypto-option-text{
    width:100px;
}

#view-amount-option-text{
    width: 50px;
}
#expiry-amount-option-text, #note-option-text{
    width: 60px;
}

#timer-div{
    margin-right:15px;
}

#expiry-div{
    margin-right:10px;
}